/**
 * DEFAULTS
 */

body {
  background: var(--background-color--200);
  color: var(--color--grayscale-800);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--color--grayscale-600);
}

a {
  color: var(--color--grayscale-800);
  transition: var(--transition--short);
}

input:where(:not([type="submit"])),
select,
textarea {
  background: var(--color--grayscale-100);
  border: 1px solid var(--border-color--300) !important;
  border-radius: var(--border-radius--default) !important;
  box-shadow: none !important;
  color: var(--color--grayscale-600) !important;
  min-block-size: 44px;
  padding: 12px 16px !important;
  font-size: 0.9375rem !important;

  &.flash-active {
    animation: bg-flash var(--timing--long);
  }

  &:focus {
    border-color: transparent !important;
    box-shadow: var(--box-shadow--input) !important;
  }
}

svg {
  flex-shrink: 0;
  block-size: 1.125rem;
  inline-size: 1.125rem;
}
