/**
 * DEFAULTS
 */

body,
table {
  background: var(--background-color-001);
}

a,
button {
  transition: var(--transition-short);
}

input:where(:not([type="submit"])),
select,
textarea {
  background-color: var(--color-grayscale-100);
  border: 1px solid var(--border-color-default) !important;
  border-radius: var(--border-radius-default) !important;
  box-shadow: none !important;
  color: var(--color-grayscale-050) !important;
  min-block-size: 40px;
  padding: 12px 16px !important;
  font-size: 0.9375rem !important;

  &.flash-active {
    animation: bg-flash var(--duration-long);
  }

  &:focus {
    border-color: transparent !important;
    box-shadow: var(--input-box-shadow) !important;
  }
}

svg {
  flex-shrink: 0;
  block-size: 1.125rem;
  inline-size: 1.125rem;
}

body {
  display: flex;
  flex-wrap: wrap;

  > label {
    margin: 0 !important;
  }
}
