/**
 * VARIABLES
 */

:root {
  /* Background Colors */
  --background-color-001: var(--color-grayscale-098);
  --background-color-002: var(--color-grayscale-097);
  --background-color-003: var(--color-grayscale-095);
  --background-flash-001: var(--color-brand-001-alpha);
  --background-flash-002: oklch(0.75 0.1 230 / 0.15);

  /* Border Colors */
  --border-color-light: var(--color-grayscale-097);
  --border-color-default: var(--color-grayscale-095);
  --border-color-dark: var(--color-grayscale-092);

  /* Box Shadows */
  --input-box-shadow: 0 0 0 3px var(--color-blue-092);

  /* Blue Colors */
  --color-blue-092: oklch(0.92 0.01 230);
  --color-blue-095: oklch(0.95 0.01 230);

  /* Green Color */
  --color-green-001: oklch(0.65 0.15 150);

  /* Brand Colors */
  --color-brand-001-alpha: #f258581a;
  --color-brand-001: #f25858;
  --color-brand-002: #d41010;

  /* Grayscale Colors */
  --color-grayscale-035: oklch(0.35 0 0);
  --color-grayscale-050: oklch(0.5 0 0);
  --color-grayscale-065: oklch(0.65 0 0);
  --color-grayscale-071: oklch(0.71 0 0);
  --color-grayscale-074: oklch(0.74 0 0);
  --color-grayscale-080: oklch(0.8 0 0);
  --color-grayscale-092: oklch(0.92 0 0);
  --color-grayscale-095: oklch(0.95 0 0);
  --color-grayscale-097: oklch(0.97 0 0);
  --color-grayscale-098: oklch(0.98 0 0);
  --color-grayscale-100: oklch(1 0 0);

  /* Border Radius */
  --border-radius-default: 6px;

  /* Spacing */
  --inline-spacing: clamp(1.5rem, -0.5rem + 3.125vi, 3rem); /* 1024 = 24px, 1280 = 32px, 1536 = 40px, 1792= 48px */
  --padding-inline-mw900: calc(50% - 450px); /* Gives it a max-width of 900px) */
  --sidebar-inline-padding: 20px;

  /* Width of ((48px padding + 900px content + 48px padding) * 2) + 4px divider line = 1996px */
  @media (width < 1996px) {
    --padding-inline-mw900: var(--inline-spacing);
  }

  /* Sizing */
  --header-height: 2.5rem;
  --sidebar-width: 12.1875rem;

  /* Transition */
  --duration-long: 500ms;
  --duration-short: 200ms;
  --transition-long: all var(--duration-long) ease;
  --transition-short: all var(--duration-short) ease;
}

body:has(#navbar-collapsor:checked) {
  --sidebar-width: 2.5rem;
  --sidebar-inline-padding: 11px;
}
