/**
 * HEADER
 */

.site-header {
  position: fixed;
  z-index: 200;
  inset-block-start: 0;
  inset-inline: var(--size--sidebar--width) 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--size--spacing-inline);
  background: var(--background-color--300);
  border-block-end: 1px solid var(--border-color--300);
  block-size: var(--size--header--height);
  padding: 0 12px;
  transition: var(--transition--long);

  .site-header__button {
    flex-shrink: 0;
    justify-content: center;
    background: var(--background-color--500);
    border: none;
    block-size: 28px;
    inline-size: 28px;
    margin: 0;
    padding: 0;

    .fa {
      display: none;
    }

    &.active,
    &.toc-toggle-button.open {
      background: var(--color--brand-alpha);
      color: var(--color--brand-400);
    }
  }

  .site-header__container {
    display: flex;
    align-items: center;
    gap: 6px;
    max-inline-size: 100%;

    &.container-1,
    &.container-3 {
      min-inline-size: fit-content;
    }

    &.container-2 {
      overflow: hidden;

      body:has(#assignment-repl-layout) & .gretel-breadcrumbs,
      body:has(#book-exercise-repl-layout) & .gretel-breadcrumbs,
      body:has(#exercise-repl-layout) & .gretel-breadcrumbs,
      .gretel-breadcrumbs,
      .title-text {
        position: initial;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
        color: var(--color--grayscale-400);
        block-size: var(--size--header--height);
        margin: 0;
        padding: 0;
        font-family: var(--font-family--secondary);
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
      }

      body:has(#book-exercise-repl-layout) & .gretel-breadcrumbs,
      body:has(#exercise-repl-layout) & .gretel-breadcrumbs,
      .gretel-breadcrumbs {
        li {
          &,
          a,
          &::before {
            color: var(--color--grayscale-400);
            white-space: nowrap;
          }
        }

        li {
          a {
            &:hover {
              color: var(--color--brand-400) !important;
            }
          }

          &:last-child {
            padding-inline-end: 0;
          }

          &.current {
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color--grayscale-500);
          }
        }
      }
    }

    body:has(#navbar-collapsor:checked) & {
      .icon--sidebar-close {
        display: none;
      }
    }

    body:not(:has(#navbar-collapsor:checked)) & {
      .icon--sidebar-open {
        display: none;
      }
    }
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  /* For Safari PWA */
  @media (display-mode: minimal-ui) {
    inset-block-start: 1px;
  }
}
