/**
 * HEADER
 */

/* Native App Header */
body:not(:has(.nav-drawer)) {
  #header {
    .show-for-large-up {
      block-size: 0;
    }
  }

  #landing-page-header {
    background-position: initial !important;
  }
}

/* Added Site Header */
.site-header {
  position: fixed;
  z-index: 200;
  inset-block-start: 0;
  inset-inline: var(--sidebar-width) 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--inline-spacing);
  background: var(--background-color-300);
  border-block-end: 1px solid var(--border-color-300);
  block-size: var(--header-height);
  padding: 0 12px;
  transition: var(--transition-long);

  /* Logged out elements when no sidebar */
  body:not(:has(.nav-drawer)) & {
    .columns:has(#logo + .nav) {
      float: initial;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 !important;

      #logo {
        margin: 0 !important;

        .ir {
          margin: 0 !important;
        }
      }

      .nav {
        > ul {
          display: flex;
          align-items: center;
          gap: 24px;

          li {
            margin: 0 !important;

            &.has-dropdown {
              ul {
                margin: 0 !important;
              }

              &:hover ul,
              ul:hover {
                inset-block-start: var(--header-height) !important;
              }
            }
          }
        }
      }
    }
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  .site-header__container {
    display: flex;
    align-items: center;
    gap: 6px;
    max-inline-size: 100%;

    &.container-1,
    &.container-3 {
      min-inline-size: fit-content;
    }

    &.container-1 {
      justify-content: flex-start;

      &:has(.logged-out-nav) {
        flex-grow: 1;
      }

      .logged-out-nav {
        gap: var(--inline-spacing);
      }
    }

    body:has(#navbar-collapsor:checked) & {
      .sidebar-close-icon {
        display: none;
      }
    }

    body:not(:has(#navbar-collapsor:checked)) & {
      .sidebar-open-icon {
        display: none;
      }
    }

    &.container-2 {
      position: absolute;
      inset-inline-start: var(--header-container2-left-offset);
      justify-content: center;
      overflow: hidden;
      max-block-size: 100%;
      inline-size: calc(100% - var(--header-container2-left-offset) - var(--header-container2-right-offset));
      transition: var(--transition-long);
    }

    &.container-3 {
      justify-content: flex-end;
    }
  }

  .gretel-breadcrumbs,
  .title-text {
    display: flex !important;
    align-items: center !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-grayscale-400);
    block-size: var(--header-height) !important;
    margin: 0 !important;
    padding: 2px 0 0 !important;
    font-family: AvenirNext, Avenir, myriad-pro, "myriad pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    white-space: nowrap;
  }

  .gretel-breadcrumbs {
    position: static !important;
    border-block-end: 1px solid var(--border-color-300) !important;

    :is(li, li a) {
      color: var(--color-grayscale-400) !important;
      white-space: nowrap;
    }

    li {
      a {
        &:hover {
          color: var(--color-brand-400) !important;
        }
      }

      &:last-child {
        padding-inline-end: 0;
      }
    }

    li.current {
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-grayscale-400) !important;
    }
  }

  @media (display-mode: minimal-ui) {
    /* installed PWA */
    border-block-start: 1px solid var(--border-color-300);
    block-size: calc(var(--header-height) + 1px);
  }
}
