/**
 * HOME COURSES PAGE
 */

.nav-tabs.secondary-nav {
  margin: calc(var(--header-height) * -1) 0 var(--header-height) 0;
  padding-block-start: var(--header-height);
}

#roadmap {
  .columns {
    padding: 0 !important;
  }

  .phase {
    margin-block: 3.75rem !important;

    .name {
      display: flex;
      gap: 8px;
      color: var(--color-grayscale-400);

      span {
        color: var(--color-grayscale-600);
        margin: 0 !important;
      }

      img {
        opacity: 0.5;
        margin-block-end: 2px !important;
      }
    }

    table {
      th.course-prereq {
        inline-size: 21% !important;
      }

      tr {
        block-size: 3rem;

        &.active {
          td {
            color: var(--color-grayscale-800) !important;
            block-size: inherit !important;
          }
        }

        td {
          color: var(--color-grayscale-500) !important;

          &.course-name:has(.assessment-icon) {
            a {
              color: var(--color-grayscale-600);
            }
          }

          &.course-prereq {
            color: var(--color-grayscale-400) !important;

            .label {
              &.prereq-label {
                background: var(--background-color-500);
                border: 1px solid var(--border-color-500);
                border-radius: 2px;
                color: var(--color-grayscale-500);
                padding: 4px 6px;
              }
            }
          }
        }
      }
    }
  }
}
