/**
 * PANELS
 */

/* Resize handle between panels */
.resize-handle {
  pointer-events: none;
  display: block;
  background-color: var(--border-color-dark) !important;
  inline-size: 2px !important;

  body:has(.tabs-panel.panel-collapsed) & {
    display: none;
  }
}

/* All Panels */
:is(.assignment-content-panel, .book-content-panel, .editor-panel, .instructions-panel, .tabs-panel) {
  background-color: var(--background-color-001) !important;
  padding: 0 !important;
}

/* Toggleable Panels */
:is(.assignment-content-panel, .book-content-panel, .tabs-panel) {
  &.half-width {
    flex-basis: calc(50% - 2px) !important;
  }
}

/* Non-toggleable Panels */
:is(.editor-panel, .instructions-panel) {
  flex-basis: calc(50% - 2px) !important;
}

/* Content Panels */
:is(.assignment-content-panel, .book-content-panel) {
  flex-basis: 100% !important;
  background: var(--background-color-001);
  border: none !important;
  padding: 0 !important;

  :is(.assignment-content-wrapper, .book-content-wrapper) {
    max-inline-size: 100% !important;
    margin: 0 !important;
    padding: 40px var(--inline-spacing) !important;

    > * {
      inline-size: 100% !important;
      max-inline-size: 780px !important;
      margin: 0 auto !important;
    }
  }
}

/* Panels with Tabs */
:is(.assignment-repl-tabs, .book-exercise-repl-tabs, .book-repl-tabs, .repl-tabs) {
  border: none !important;
  max-inline-size: initial !important;
}

/* Tabs Panel */
.tabs-panel {
  display: none !important;
  border: none !important;

  &.is-active {
    display: flex !important;
  }

  /* Toggleable Panel */
  &.panel-collapsed {
    flex-basis: 0 !important;
  }

  body:not(:has(.nav-drawer)) & {
    padding: 0 !important;
  }
}
