/**
 * SIDEBAR
 */

.sidebar {
  display: flex;
  flex-direction: column;
  background: var(--background-color--300);
  border-inline-end: 1px solid var(--border-color--300);
  inline-size: var(--size--sidebar--width);

  svg {
    pointer-events: none;
  }

  .sidebar-header,
  .sidebar-header .sidebar-header__logo,
  .sidebar-list-toggle-btn,
  .sidebar-list__item,
  .sidebar-list .sidebar-list__item .item-link,
  .sidebar-list .sidebar-list__item .item-btn {
    min-block-size: var(--size--header--height);
  }

  .sidebar-header .sidebar-header__logo,
  .sidebar-list-toggle-btn,
  .sidebar-list .sidebar-list__item .item-link,
  .sidebar-list .sidebar-list__item .item-btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    background: none;
    border: none;
    inline-size: 100%;
    margin: 0;
    padding: 8px var(--size--sidebar--padding-inline);
    line-height: 1.25;

    &:hover {
      color: var(--color--brand-400);
    }
  }

  .sidebar-header {
    border-block-end: 1px solid var(--border-color--300);

    .sidebar-header__logo {
      color: var(--color--grayscale-400);
      font-family: var(--font-family--secondary);
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .sidebar-lists {
    display: flex;
    flex-direction: column;
    overflow-block: auto;
    scrollbar-width: none;
    block-size: 100%;
  }

  .sidebar-list-wrapper {
    border-block: 1px solid transparent;
    border-block-start-color: var(--border-color--200);

    &:first-of-type {
      border: none;
    }

    &:last-of-type {
      margin-block-start: auto;

      .sidebar-list {
        padding-block-end: 12px;
      }
    }

    &:has(.sidebar-list-toggle-btn.is-closed) {
      &.extras-list-wrapper {
        border-block-end-color: var(--border-color--200);
      }
    }
  }

  .sidebar-list-toggle-btn {
    justify-content: space-between;
    color: var(--color--grayscale-300);
    font-size: 0.6875rem;
    font-weight: 600;

    &:active,
    &:focus {
      background: none;
    }

    svg {
      block-size: 1rem;
      inline-size: 1rem;
    }

    .hide-section-headers & {
      display: none;
    }

    &.is-closed {
      svg {
        transform: rotateX(180deg);
      }

      + .sidebar-list {
        display: none;
      }

      .hide-section-headers & {
        + .sidebar-list {
          display: block;
        }
      }
    }
  }

  .sidebar-list {
    padding-block-end: 24px;

    .hide-section-headers & {
      padding-block-start: 24px;
    }

    .sidebar-list__item {
      margin: 0;
      padding: 0;

      [class*="_unread_count"] {
        display: none;
      }

      &:has(.pages + .expanded) {
        .pages svg.lucide-chevron-down {
          transform: rotateX(180deg);
        }
      }

      .item-link,
      .item-btn {
        color: var(--color--grayscale-600);
        font-size: 0.8125rem;
        font-weight: 400;

        .hidden-on-collapse {
          display: flex;
          flex-shrink: 0;
          gap: 4px;
        }
      }

      .item-link {
        display: flex;
        align-items: center;

        .unread-count {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--color--brand-400);
          border-radius: 50%;
          color: #fff;
          block-size: 1rem;
          inline-size: 1rem;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 1;
        }

        &.current-page {
          background: var(--color--brand-alpha);
          border-inline-start: 2px solid var(--color--brand-400);
          color: var(--color--brand-400);
        }
      }

      .item-btn {
        letter-spacing: normal;
        text-transform: none;

        + .dropdown {
          margin-inline-start: 30px;

          li {
            margin: 0;
            padding: 0;
          }

          .item-link {
            gap: 8px;
            color: var(--color--grayscale-500);
            padding-inline-start: calc(var(--size--sidebar--padding-inline) + 30px);

            &:hover {
              color: var(--color--brand-400);
            }
          }

          svg {
            block-size: 0.875rem;
            inline-size: 0.875rem;
          }

          &:not(.expanded) {
            display: none;
          }
        }
      }
    }
  }

  /* When sidebar is collapsed */
  #navbar-collapsor:checked ~ & {
    &.shrink {
      inline-size: var(--size--sidebar--width);

      .sidebar-lists {
        .sidebar-list-wrapper {
          .sidebar-list-toggle-btn {
            display: none;

            &.is-closed {
              + .sidebar-list {
                display: block;
              }
            }
          }

          .sidebar-list {
            padding-block-start: 24px;

            .sidebar-list__item {
              &:has(.pages) {
                display: none;
              }

              .item-link {
                padding-block: 0;
              }
            }
          }
        }
      }
    }

    &:not(.shrink) {
      inline-size: var(--size--sidebar--width);

      .sidebar-header__logo,
      .sidebar-lists {
        display: none;
      }
    }
  }
}

.sidebar-tooltip {
  min-block-size: var(--size--header--height);
}

/* Native sidebar toggle buttons */
#navbar-collapse,
#navbar-expand {
  display: none;
}

/* Native elements */
.nav-drawer {
  .logo,
  .spacer {
    display: none !important;
  }
}
