/**
 * WRAPPERS
 */

body:has(#assignment-repl-layout, #book-repl-layout, #book-exercise-repl-layout, #exercise-repl-layout) {
  :is(.assignment-repl-layout, .book-repl-layout, .book-exercise-repl-layout, .exercise-repl-layout) {
    inset-block-start: var(--size--header--height) !important;
    inset-inline-start: var(--size--sidebar--width) !important;
    padding: 0 !important;
    transition: none;

    body:has(.nav-drawer) & {
      inset-block-start: var(--size--header--height) !important;
    }

    body:has(.site-header) & {
      transition: var(--transition--long);
    }

    body:has(.site-header.is-hidden) & {
      inset-block-start: 0 !important;

      /* For Safari PWA */
      @media (display-mode: minimal-ui) {
        inset-block-start: 1px !important;
      }
    }

    body:not(:has(.nav-drawer)) & {
      inset-inline-start: 0 !important;
    }
  }
}

.wrapper,
.container {
  background: var(--background-color--200);
}

.row {
  max-inline-size: 56.25rem;

  > .columns {
    padding-inline: 0;
  }

  .row {
    margin-inline: auto;
  }
}

.wrapper {
  margin: 0 !important;
  padding-block: calc(var(--size--header--height) * 2) 0 !important;
  padding-inline: calc(var(--size--sidebar--width) + var(--size--spacing-inline)) var(--size--spacing-inline) !important;
  transition: none;

  body:not(:has(.assignment-repl-layout, .book-repl-layout)):has(.site-header.is-hidden) & {
    inset-block-start: calc(var(--size--header--height) * -1) !important;
  }
}
