/**
 * BOXES
 */

.alert-box {
  color: var(--color--grayscale-800) !important;
  padding: 16px 24px;

  a {
    border-block-end-color: var(--color--brand-400);
    color: var(--color--brand-400);
  }

  p {
    &:last-child {
      margin-block-end: 0;
    }
  }

  &.light-gray {
    background: var(--background-color--400) !important;
    border-color: var(--border-color--600) !important;
    color: var(--color--grayscale-600) !important;
  }
}

.exercises-list {
  .exercise-item,
  .styled-exercise-section {
    border-color: var(--border-color--400) !important;

    &.solution-content {
      background: var(--background-color--300) !important;
    }
  }
}

.tealeaf-markup {
  .markup-collapse {
    .collapse-button {
      &::after {
        border-block-end-color: var(--background-color--300) !important;
      }

      &::before {
        border-block-end-color: var(--border-color--100) !important;
      }
    }

    .collapse {
      background: var(--background-color--300);
      border-color: var(--border-color--100);
      border-radius: var(--border-radius--default);
      padding: 16px 20px;

      :first-child {
        margin-block-start: 0 !important;
      }
    }
  }
}
