/**
 * BOXES
 */

.alert-box {
  padding: 16px;

  a {
    border-block-end-color: var(--color--brand-400);
    color: var(--color--brand-400);
  }

  p {
    &:last-child {
      margin-block-end: 0;
    }
  }

  &.light-gray {
    background: var(--background-color--400) !important;
    border-color: var(--border-color--600) !important;
    color: var(--color--grayscale-600) !important;
  }
}

.exercises-list {
  .exercise-item,
  .styled-exercise-section {
    border-color: var(--border-color--400) !important;
  }
}
