/**
 * BUTTONS
 */

/* stylelint-disable selector-id-pattern -- LaunchSchool ids don't follow this rule */
button,
a.btn {
  appearance: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: var(--background-color--400);
  border: 1px solid var(--border-color--600);
  border-radius: var(--border-radius--default);
  color: var(--color--grayscale-600);
  margin: 0;
  padding: 12px 16px;
  font-family: var(--font-family--primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  text-wrap: balance;
  transition: var(--transition--short);

  /* Box Collapse Button */
  .collapse-button & {
    border-radius: 2px;
  }

  &:hover,
  &.active {
    background: var(--color--brand-alpha);
    border-color: var(--color--brand-400);
    color: var(--color--brand-400);
  }

  &:active,
  &:focus {
    background: var(--background-color--600);
    border-color: var(--border-color-800);
    color: var(--color--grayscale-800);
  }

  &:where(.btn--plain, .btn--outline) {
    background: transparent;

    &:active,
    &:hover,
    &:focus {
      background: transparent;
    }
  }

  &:where(.btn--plain) {
    border: none;
  }

  &.has-new-icon {
    i {
      display: none !important;
    }
  }

  &.btn--pagination,
  &.btn--work-in-editor,
  &.btn--content-toggle-solution,
  &.lsbot-question-box-send-answer-button {
    appearance: none !important;
    display: inline-flex !important;
    align-items: center !important;
    gap: 8px !important;
    background: transparent !important;
    border: 1px solid var(--border-color--600) !important;
    border-radius: var(--border-radius--default) !important;
    color: var(--color--grayscale-600) !important;
    margin: 0 !important;
    padding: 12px 16px !important;
    font-family: var(--font-family--primary) !important;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    line-height: 1rem !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;

    &:hover,
    &:focus {
      border-color: var(--color--brand-400) !important;
      color: var(--color--brand-400) !important;
    }

    &:active {
      border-color: var(--color--brand-500) !important;
      color: var(--color--brand-500) !important;
    }
  }

  /* Copy Code Button */
  &.btn-copy-code {
    &,
    body:has(#exercise-repl-layout) &,
    body:has(#book-exercise-repl-layout) & {
      color: var(--color--grayscale-400);

      &:hover {
        color: var(--color--grayscale-600);
      }
    }

    &.copied {
      svg.lucide {
        display: none;
      }
    }
  }

  /* Copy Markup Button */
  &.btn--copy-markup {
    color: var(--color--grayscale-400);
    min-block-size: 28px;
    font-size: 0.875rem;

    svg {
      block-size: 0.875rem;
      inline-size: 0.875rem;
    }

    &:hover {
      background: transparent;
      color: var(--color--grayscale-300);
    }

    &:active,
    &:focus {
      background: transparent;
      color: var(--color--grayscale-200);
    }

    &:has(.fa-check) {
      .lucide-copy-icon {
        display: none;
      }
    }

    &:has(.fa-copy) {
      .lucide-check-icon {
        display: none;
      }
    }
  }

  /* Run Code Button */
  &.btn--run-code#btn-run-code {
    &,
    body:has(#book-repl-layout) &,
    body:has(#assignment-repl-layout) &,
    body:has(#book-exercise-repl-layout) &,
    body:has(#exercise-repl-layout) & {
      color: var(--color--grayscale-600);
      margin: 16px 0 24px auto;
      padding-inline: 16px;
    }
  }

  /* Exercise Buttons */
  &.btn--exercise-completion,
  &.btn--next-exercise {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--border-color--400);
    border-radius: var(--border-radius--default);
    color: var(--color--grayscale-400) !important;
    margin: 0;
    padding: 12px 16px !important;
    font-family: var(--font-family--primary);
    font-size: 0.9375rem !important;
    font-weight: 400;
    line-height: 1;
    transition: var(--transition--short);

    &:hover,
    &:focus,
    &:active {
      border-color: var(--color--brand-400);
      color: var(--color--brand-400) !important;
    }

    &:active {
      border-color: var(--border-color-600);
      color: var(--color--grayscale-600) !important;
    }
  }

  /* LSBot Prompt Submission Button */
  &.lsbot-submit-btn {
    background: var(--background-color--400) !important;
    border-color: var(--border-color--600) !important;

    &:hover:not(:disabled) {
      background: var(--background-color--600) !important;
      border-color: var(--border-color--800) !important;
    }

    svg {
      margin: 0 !important;
    }
  }

  /* Pagination Buttons */
  &.btn--pagination {
    &,
    body:has(#assignment-repl-layout) &,
    body:has(#book-repl-layout) & {
      &.btn--pagination-next {
        padding-inline: 20px 12px !important;
      }

      &.btn--pagination-prev {
        padding-inline: 12px 20px !important;
      }
    }
  }

  /* View Solution Button */
  &.btn--toggle-solution {
    display: flex;
    align-items: center;
    gap: 12px;
    background: var(--background-color--400);
    border: 1px solid var(--border-color--600);
    border-radius: var(--border-radius--default);
    color: var(--color--grayscale-800);
    padding: 16px 24px;
    letter-spacing: 1px;
    transition: var(--transition--short);

    .markup-collapse.open & {
      .lucide-eye-icon {
        display: none;
      }
    }

    .markup-collapse:not(.open) & {
      .lucide-eye-off-icon {
        display: none;
      }
    }

    &:hover {
      background: var(--color--brand-alpha);
      border-color: var(--color--brand-400);
      color: var(--color--brand-400) !important;
    }
  }

  /* Content View Solution Button */
  &.btn--content-toggle-solution {
    .solution > .open & {
      svg.lucide-eye-icon {
        display: none;
      }
    }

    .solution > :not(.open) & {
      svg.lucide-eye-off-icon {
        display: none;
      }
    }
  }
}

/* EXERCISES VIEW SOLUTION BUTTON */
.solution-header {
  span,
  &::before {
    display: none !important;
  }
}

/* PAGINATION BUTTONS WRAPPERS */
.footer-nav {
  margin: 0;
}

#exercises-section ~ .chapter-navigation-arrows {
  margin-block-start: 1.5rem !important;
}

#assignment_submitted:has(.alert-box) + .footer-nav {
  margin-block-start: 1.875rem;
}

#chapter_content > .chapter-navigation-arrows {
  margin-block-start: 1rem !important;
}

/* PAGINATION BUTTONS */
.chapter-navigation-arrows {
  margin-block-start: 1rem !important;
}
