/**
 * CODE
 */

code {
  &:not(pre &) {
    border-radius: 2px !important;
  }
}

.markup-code-block {
  .markup-actions {
    padding-block: 4px;
  }

  .prism-file {
    color: var(--color--grayscale-300);
    padding: 0 12px;

    .fa {
      color: var(--color--grayscale-400);
      margin-inline-end: 6px;
    }
  }
}
