/**
 * EDITOR
 */

:is(.editor-panel, #tab-code-editor) {
  .editor-mode-bar {
    background-color: var(--background-color-400) !important;
    border-block-end: 1px solid var(--border-color-500) !important;
    block-size: var(--header-height) !important;
    inline-size: 100% !important;
    max-inline-size: 100% !important;
    margin: 0 !important;
    padding-inline: var(--padding-inline-mw900) !important;
  }

  .tab-pane .CodeMirror {
    margin-inline-end: 16px;
  }

  :is(.code-editor-section, .editor-content-wrapper) {
    max-inline-size: 100% !important;
    padding-inline: var(--padding-inline-mw900) !important;

    .code-editor-wrapper,
    .code-editor-wrapper .CodeMirror,
    .code-editor-wrapper .CodeMirror .CodeMirror-scroll,
    .CodeMirror-gutters,
    #exercise-code-editor {
      background-color: var(--background-color-450) !important;
    }

    .code-editor-wrapper {
      border: 1px solid var(--border-color-400);
      border-radius: var(--border-radius-default);
      margin-block-start: 24px;
      padding: 12px !important;

      #exercise-code-editor {
        border: none !important;
      }

      .CodeMirror-activeline-background {
        background-color: var(--background-color-500) !important;

        .CodeMirror-focused & {
          background-color: var(--color-blue-095) !important;
        }
      }

      .CodeMirror-activeline {
        .flash-active & {
          .CodeMirror-line {
            animation: bg-flash var(--duration-long);
          }
        }
      }

      .CodeMirror-lines,
      .CodeMirror-linenumber {
        padding: 0 !important;
      }

      .CodeMirror-gutters {
        border-color: var(--border-color-400);
        padding: 0;
      }
    }

    #btn-run-code {
      color: var(--color-grayscale-035);
      margin: 16px 0 24px auto !important;
      padding-inline: 16px;
    }
  }

  /* OUTPUT SECTION */
  .output-section-fixed {
    align-self: center;
    border: none !important;
    inline-size: calc(100% - (var(--inline-spacing) * 2));
    max-inline-size: 900px;
    margin: 0 0 24px !important;

    #code-output-panel {
      background-color: var(--background-color-400) !important;
      border-color: var(--border-color-500);
      border-radius: var(--border-radius-default);
    }

    .output-header {
      background: var(--background-color-500);
      border-color: var(--border-color-500);

      .output-title {
        color: var(--color-grayscale-035);
      }
    }

    .output-empty {
      color: var(--color-grayscale-074);
    }
  }
}
