/**
 * SEARCH
 */

body.internal {
  #forum-actions {
    .search-form {
      .search-input {
        block-size: 2.5rem;
        margin: 0;

        &.empty,
        + input[type="submit"] {
          background: none;
        }

        &.empty {
          padding-inline-start: 2.5rem !important;
        }

        &:not(.empty) {
          padding-inline-end: calc(1.5rem + 0.3125rem) !important;
        }

        + input[type="submit"] {
          inset-block-start: 50%;
          inset-inline-end: 0.3125rem;
          transform: translateY(-50%);
          border: 1px solid transparent;
          border-radius: var(--border-radius--default);
          block-size: 2rem;
          inline-size: 2rem;
          padding: 0;
          transition: var(--transition--short);

          &:hover {
            background: var(--color--brand-alpha);
            border-color: var(--color--brand-400);
            color: var(--color--brand-400);
          }
        }

        div:has(> &) {
          position: relative;
          margin: 0 0 1.5rem;

          &::before,
          &::after {
            pointer-events: none;
            position: absolute;
            inset-block-start: 50%;
            transform: translateY(-50%);
            background-color: currentcolor;
            mask: url("../../svg/lucide/search.svg") center / contain no-repeat;
            block-size: 1.125rem;
            inline-size: 1.125rem;
            transition: var(--transition--short);
          }
        }

        div:has(> &.empty) {
          &::before {
            content: "";
            inset-inline-start: 0.75rem;
            display: block;
          }
        }

        div:has(> &:not(.empty)) {
          &::after {
            content: "";
            inset-inline-end: 0.75rem;
            display: block;
          }
        }

        div:has(> & + input[type="submit"]:hover) {
          &::after {
            color: var(--color--brand-400);
          }
        }
      }
    }
  }
}
