/**
 * SETTINGS
 */

.settings-container {
  position: absolute;
  z-index: 101;
  inset-block-start: calc(var(--header-height) + 8px);
  inset-inline-end: 12px;
  display: none;
  flex-direction: column;
  gap: 12px;
  overflow-block: auto;
  overflow-inline: hidden;
  background: #fff;
  border: 1px solid var(--border-color-default);
  border-radius: var(--border-radius-default);
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  scrollbar-color: #d1d5db #f8f9fa;
  scrollbar-width: thin;
  max-block-size: calc(100vb - var(--header-height) - 8px - 16px);
  inline-size: 420px;
  padding: 16px;
  transition: var(--transition-long);

  :where(h1, h2, h3, h4, ul, li) {
    color: var(--color-grayscale-050);
    margin: 0;
  }

  :where(ul) {
    list-style-type: none;
    margin: 0;
  }

  :where(section) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .setting-container__title {
    /* display: none; */
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .settings-list-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 12px;
  }

  .settings-list {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    border: 1px solid var(--border-color-default);
    border-radius: var(--border-radius-default);

    &:has(.settings-list__title:only-child) {
      display: none;
    }
  }

  .settings-list__title {
    grid-column: 1 / -1;
    border-block-end: 1px solid var(--border-color-default);
    color: var(--color-grayscale-080);
    padding: 8px 12px;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .settings-list__item {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    border-block-end: 1px solid var(--border-color-default);

    .setting-status,
    .setting-desc {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      line-height: 1.5;
    }

    .setting-status {
      grid-column: 1;
      gap: 2px;
      border-inline-end: 1px solid var(--border-color-default);
      color: var(--color-grayscale-065);
      font-family: Monaco, Menlo, Consolas, monospace;
      font-size: 0.75rem;

      .key {
        background-color: var(--color-grayscale-097);
        border-radius: 4px;
        padding: 1px 4px;

        &:last-child {
          background-color: var(--color-brand-001-alpha);
          color: var(--color-brand-001);
          padding-inline: 6px;
          font-weight: 700;
        }
      }
    }

    .setting-desc {
      grid-column: 2;
      color: var(--color-grayscale-050);
      font-size: 0.8125rem;
    }

    &:nth-child(even) {
      background-color: var(--color-grayscale-098);
    }

    &:last-child {
      border-block-end-width: 0;
    }
  }

  &.active {
    display: flex;
  }
}
