/**
 * TABLES
 */

table {
  --border-color-default: var(--color--grayscale-150);
  border-collapse: separate;
  background: transparent;

  tr {
    background: var(--background-color--100);

    th,
    td {
      border-color: var(--border-color-default);
      border-style: solid;
      border-width: 0;
      border-block-start-width: 1px;

      &:first-child {
        border-inline-start-width: 1px;
      }

      &:last-child {
        border-inline-end-width: 1px;
      }
    }

    td {
      color: var(--color--grayscale-500) !important;

      &.course-prereq {
        color: var(--color--grayscale-400) !important;

        .prereq-label {
          background: var(--background-color--500);
          border-color: var(--border-color--400);
          border-radius: 2px;
          border-style: solid;
          border-width: 1px;
          color: var(--color--grayscale-500);
          margin: 0;
          padding: 4px 6px;
        }
      }
    }

    &.even,
    &.alt,
    &:nth-of-type(even) {
      background: var(--background-color--300);

      .tealeaf-markup &,
      .white-background & {
        background: var(--background-color--300);
      }

      &:has(.new-post-symbol) {
        background: var(--color--brand-alpha);
      }
    }

    &:not(.tealeaf-markup &) {
      block-size: 3rem;
    }

    &:has(.new-post-symbol) {
      background: var(--color--brand-alpha);

      td {
        border-color: var(--color--brand-alpha);
      }
    }

    &:has(td.course-name > .assessment-icon) {
      a {
        color: var(--color--grayscale-500) !important;
      }

      a {
        &:hover,
        &:focus {
          color: var(--color--brand-400) !important;
        }
      }
    }

    &.active,
    &.current {
      background-color: var(--color--brand-alpha) !important;

      a {
        color: var(--color--brand-400) !important;

        &:hover,
        &:focus {
          color: var(--color--brand-500) !important;
        }
      }

      td {
        border-color: var(--color--brand-alpha);
        color: var(--color--brand-300) !important;
        block-size: inherit !important;

        &.course-prereq {
          color: var(--color--brand-400) !important;

          .prereq-label {
            background: var(--color--brand-100);
            border-color: var(--color--brand-200);
            color: var(--color--brand-400);
          }
        }
      }
    }

    &.completed {
      &,
      .tealeaf-markup &,
      .white-background & {
        background-color: var(--color--green-alpha) !important;
      }

      a {
        color: var(--color--green-400) !important;

        &:hover,
        &:focus {
          color: var(--color--green-500) !important;
        }
      }

      td {
        border-color: var(--color--green-alpha);
        color: var(--color--green-300) !important;

        &.course-prereq {
          color: var(--color--green-400) !important;

          .prereq-label {
            background: var(--color--green-100);
            border-color: var(--color--green-200);
            color: var(--color--green-400);
          }
        }
      }
    }

    &.pinned-post-separator {
      td {
        border: none;
      }

      hr {
        display: none;
      }
    }

    .pinned-posts & {
      &,
      &:nth-of-type(even) {
        background: var(--color--blue-alpha) !important;
      }

      td {
        border-color: var(--color--blue-alpha);
      }

      &:last-child {
        td {
          border-block-end-width: 1px;
        }
      }
    }
  }

  thead {
    background: transparent;

    tr {
      &,
      .tealeaf-markup & {
        background: var(--background-color--400);
      }

      th {
        color: var(--color--grayscale-400);
        padding-block: 0;
        font-size: 0.6875rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;

        &.course-prereq {
          inline-size: 21% !important;
        }

        &.course-no {
          inline-size: 11%;
        }
      }
    }
  }

  > :first-child {
    tr {
      &:first-child {
        td,
        th {
          &:first-child {
            border-start-start-radius: var(--border-radius--default);
          }

          &:last-child {
            border-start-end-radius: var(--border-radius--default);
          }
        }
      }
    }
  }

  > :last-child {
    tr {
      &:last-child {
        td {
          border-block-end-width: 1px;

          &:first-child {
            border-end-start-radius: var(--border-radius--default);
          }

          &:last-child {
            border-end-end-radius: var(--border-radius--default);
          }
        }
      }
    }
  }

  .tealeaf-markup & {
    tr {
      th,
      td {
        border-color: var(--border-color-default) oklch(0.95 0 0);

        &:not(:first-child) {
          border-inline-start-width: 0;
        }
      }

      th {
        border-block-end-width: 0;
      }

      td {
        color: var(--color--grayscale-800) !important;
      }

      &:not(:last-child) {
        td {
          border-block-end-width: 0;
        }
      }
    }
  }
}
