/**
 * TABS
 */

/* TAB NAV */
.tab-nav {
  --inactive-button-border: var(--border-color--200);
  --active-button-border: var(--border-color--300);
  display: flex;
  align-items: center;
  gap: 0 !important;
  overflow: initial !important;
  background: var(--background-color--200) !important;
  border-block-end: 1px solid var(--active-button-border) !important;
  block-size: var(--size--header--height);
  margin: 0 !important;
  padding: 0 var(--size--mw900--padding-inline) !important;

  @media (width < 124.75rem) {
    padding-inline-start: 0 !important;
  }
}

/* TAB BUTTON */
.tab-button {
  display: flex;
  align-items: center !important;
  gap: 12px;
  transform: none !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  border-inline-start-color: var(--inactive-button-border) !important;
  color: var(--color--grayscale-400) !important;
  block-size: calc(100% + 1px) !important;
  margin: 0 0 -1px !important;
  padding: 2px var(--size--spacing-inline) 0 !important;

  &:first-child {
    body:has(#assignment-repl-layout, #book-repl-layout, #book-exercise-repl-layout, #exercise-repl-layout) & {
      margin: 0 !important;
    }

    @media (width < 124.75rem) {
      border-inline-start-color: transparent !important;

      &.active {
        border-inline-start-color: transparent !important;
      }
    }
  }

  &:last-child {
    border-inline-end-color: var(--inactive-button-border) !important;
  }

  &.active {
    border-block-end-color: var(--background-color--200) !important;
    border-inline-start-color: var(--active-button-border) !important;
    color: var(--color--grayscale-600) !important;

    + .tab-button,
    + .is-hidden + .tab-button {
      border-inline-start-color: var(--active-button-border) !important;
    }

    &:last-child {
      border-inline-end-color: var(--active-button-border) !important;
    }
  }

  &:hover {
    color: var(--color--brand-400) !important;
  }

  &:active {
    color: var(--color--brand-500) !important;
  }

  &.flash-active {
    animation: bg-flash var(--timing--long);
  }
}

/* TAB CONTENT */
.tab-content {
  margin: 0 !important;
  padding: 0 !important;

  .tab-header {
    align-items: center;
    background: var(--background-color--200) !important;
    border-block-end: 1px solid var(--border-color--300) !important;
    block-size: var(--size--header--height);
    margin: 0 !important;
    padding-inline: var(--size--mw900--padding-inline) !important;

    .tab-header-actions {
      gap: 0 !important;

      button {
        display: flex;
        align-items: center;
        color: var(--color--grayscale-600) !important;
        padding: 8px !important;

        svg {
          block-size: 1rem;
          inline-size: 1rem;
        }
      }
    }

    /* Overrides */
    body:has(#assignment-repl-layout) & {
      padding-inline-end: var(--size--mw900--padding-inline) !important;
    }
  }

  /* Tab content without a header */
  .tab-pane:not(:has(.tab-header), :has(.editor-mode-bar)) {
    padding: 24px var(--size--mw900--padding-inline) !important;
  }

  /* Override */
  body:has(#book-repl-layout) & {
    margin-inline-end: 0 !important;
  }

  #actions {
    border-color: var(--border-color--200) !important;
    margin-block: 24px !important;
    padding-block-start: 24px !important;

    /* button,
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid var(--border-color--400);
      padding: 12px 16px !important;
      font-size: 0.9375rem !important;
      line-height: 1;

      &:hover {
        border-color: var(--color--brand-400);
        color: var(--color--brand-400);
      }
    } */
  }

  /* Community Tab */
  .community-solutions-section {
    background: var(--background-color--200) !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;

    .community-solutions-header {
      color: var(--color--grayscale-600);
    }

    .major-section,
    .respond {
      margin-block-start: 0 !important;
    }

    .solution-form-section,
    .solution-form-header {
      border-color: var(--border-color--300) !important;
    }
  }

  /* Feedback Tab */
  #tab-feedback {
    body:has(#assignment-repl-layout, #book-repl-layout, #book-exercise-repl-layout, #exercise-repl-layout) & {
      /* Feedback textarea override */
      .feedback-form-inline form {
        textarea.form-control {
          border: 1px solid var(--border-color--400) !important;
          padding: 12px 16px !important;
          font-size: 0.9375rem !important;

          &:focus {
            border-color: transparent !important;
            box-shadow: var(--box-shadow--input) !important;
          }
        }
      }
    }
  }
}

/* Override */
body.internal {
  #discussion-thread,
  #personal-discussion-thread {
    .discussion-comments,
    .discussion-solutions {
      .discussion-comment + .discussion-comment,
      .discussion-solution + .discussion-solution {
        border-color: var(--border-color--300) !important;
      }
    }
  }
}
