/**
 * TOASTS
 */

.toast-container {
  pointer-events: none; /* Doesn't block clicks */
  position: fixed;
  z-index: 99999;
  inset-block-start: 12px;
  inset-inline-end: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toast {
  transform: translateY(-10px);
  background: var(--color-grayscale-035);
  border-radius: var(--border-radius-default);
  color: #fff;
  opacity: 0;
  padding: 16px 20px;
  transition:
    opacity var(--duration-long) ease,
    transform var(--duration-long) ease;

  &.show {
    transform: translateY(0);
    opacity: 0.9;
  }

  &.alert {
    color: oklch(0.85 0.1 30);
  }

  &.notice {
    color: oklch(0.85 0.1 90);
  }

  &.success {
    color: oklch(0.85 0.1 150);
  }

  &.warn {
    color: oklch(0.85 0.1 60);
  }
}
