/**
 * TABLE OF CONTENTS
 */

/* Book Page Header Buttons */
.navigate-back,
.toc-button-text,
.toc-chevron {
  display: none;
}

/* Normal Book Page TOC */
.books.read-page {
  #book-repl-layout {
    .toc-dropdown-container {
      inset-block-start: var(--header-height) !important;
      inset-inline: auto 360px !important;
    }
  }
}

.toc-dropdown-menu {
  border-color: var(--border-color-400) !important;
  max-block-size: calc(100vb - var(--header-height) - 8px - 16px) !important;
  transition: var(--transition-long);

  body:has(.site-header.is-hidden) & {
    inset-block-start: calc(100% - var(--header-height) + 8px) !important;
    max-block-size: calc(100vb - 8px - 16px) !important;
  }
}

.toc-dropdown-content {
  padding: 16px !important;

  .chapters {
    display: flex;
    flex-direction: column;
    gap: 32px;

    li {
      padding: 0 !important;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 0 !important;
    }

    > li {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .toc-navigate-links {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-color: var(--border-color-300) !important;
      margin: 0 !important;
      padding-block-end: 8px !important;

      span {
        margin: 0 !important;

        &:first-child {
          font-weight: 600;
        }
      }
    }

    .toc-section {
      margin: 0 !important;

      .section-title {
        padding: 0 !important;
      }

      .topics {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0 !important;
        padding-inline-start: 12px !important;

        li.chapter_title {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 0 !important;
        }
      }

      .sub_topics {
        margin: 0 !important;
        padding-inline-start: 36px !important;
      }
    }
  }
}
